
    body {
     margin: 0px;
     background-color:transparent;
     color:black;
     line-height: 30px;
    }

    header h1{
        font-family: fantasy,sans-serif;
        font-size: 70px;  
      border: 1px solid black;
        border-width: thick;
        padding: 20px;
    }
    p{
        font-family: 1.15em noto sans,Arial,sans-serif;
        font-size: 20px;    
    }
    h2{
        font-family:fantasy;
        font-size: 35px;
        border: 1px solid #335EFF;
        background-color: deepskyblue;
        padding: 5px;
    }
    h3{
        font-family: fantasy;
        color:black;
        border: 1px solid #335EFF;
        background-color: deepskyblue;
        text-align: center;
    }

    a{
        color:black;
        font-size:20px;
        font-family:serif;
    }

    a:hover{
        color:darkcyan;
    }

    footer{
        padding: 0;
        color:aqua;
        text-align:center;
        background-color:aliceblue;
        border: 1px solid black;
    }

    section{

    padding: 0 20px 20px 100px;
        margin:0;
       
    }

    footer p{
        margin:0;
        color: black;
        font-family: monospace;
        font-size:15px;
    }
    {
      box-sizing: border-box;
    }
    header {
      margin: 0;
      text-align: center;
      font-size: 35px;
      color: black;
    background-color:deepskyblue;

    }
    nav {
      float: left;
      width: 20%;
      height: 1050px;
     border: 20px solid #0A27AB;
      padding: 20px;
    }
    article {
      float:right;
      padding: 20px;
      width: 70%;
      height: 300px;
    }
    section:after {
      content: "";
      display: table;
      clear: both;
    }
    @media (max-width: 620px) {
      nav, article, section  {
        width: 100%;
        height: auto;
      }
    }




    div.gallery {
      margin: 5px;
      border:none;
      float:left;
      width: 180px;
    }

    div.gallery:hover {
      border: 1px solid aliceblue;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 5px;
      text-align: center;
    }




.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 25px;
  font-family: fantasy;

    
}

.topnav a:hover {
  background-color: #0A27AB;
  color: black;
}


.topnav a.active {
  background-color:#0A27AB;
  color: white;
}

