h1{
                font-size: 100px;
                color:red;
            }
h2{
                font-size: 75px;
                color:cadetblue;

            }
h3{
                font-size: 40px;
                color:chocolate;
            }
p{
                font-size: 25px;
                color:black;
            }


 