body{
    background-color:#FBE0C3
        
}
h1{
                font-size: 100px;
                color:red;
                
            }
h2{
                font-size: 75px;
                color:black;
    background-color:#FFBB98

            }
h3{
                font-size: 40px;
                color:chocolate;
            }
p{
                font-size: 25px;
                color:black;
            }


 